# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Android builds (no el código fuente)
*.apk
*.aab

# iOS builds
ios/Pods/
*.ipa